# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.production

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
crash.log

# Logs
*.log
npm-debug.log*

# Build artifacts
coverage/
build/
dist/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS artifacts
.DS_Store
Thumbs.db
